.organogram-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.organogram-data h1 {
  margin-bottom: 1rem;
  color: #004b3f;
}
.organogram-data p {
  font-size: 0.9rem;
  font-weight: 500;
}
